 <launch>
   <arg name="prefix" default="unity"/>

   <remap from="/$(arg prefix)/unity_ur10_joint_states" to="/unity_ur10_joint_states"/>
   <remap from="/$(arg prefix)/velocity_command" to="/velocity_command"/>

   <node name="unity_hardware_interface_with_gripper" pkg="unity_ros_control" type="unity_hardware_interface_with_gripper" output="screen"/>

 </launch>